<div class="container center align">

  <div class="row">
    <div class="col s8 offset-s2">
      <h3>Search</h3>
    </div>
    <input type="text" class="col s6 offset-s3" ng-model="filterText" placeholder="Search">
    </div>
  </div>

  <div class="row cardFlex" ng-if="userToShow">
  <!-- Filter: userToShow prevent people from seeing boards that arent theirs -->
    <div class="col s3 card cardHeightSet" ng-repeat="board in boardArray | filter: filterText | filter: userToShow">
      <div class="card-content">
        <a ng-click="setSelectedBoard(board)" href="#/boards/{{board.refKey}}"><h3>{{board.title}}</h3></a>
        <p>{{board.description}}</p>
        <div class="tagList" ng-repeat="tag in board.tags">
            <span>{{tag}}</span>
        </div>
        <a class="btn-floating btn-small waves-effect waves-light red" ng-click="deleteBoard(board.refKey)"><i class="material-icons">delete</i></a>
      </div>
  </div>
  
  <a class="btn-floating btn-large waves-effect waves-light red addBoardBtn" ng-href="#/boards/new"><i class="material-icons">add</i></a>
</div>