<div id="modal1" class="modal">
  <div class="row modal-content">
    <form class="col s12">
      <div class="row">
        <div class="col s6 offset-s4">
          <a href="#!"><img src="https://online.cameyo.com/Images/SignInGoogle.png" id="googleImg"/></a>
        </div>
        <div class="col s6 offset-s3">
          <h4 id="loginDivider" class="center-align">~or~</h4>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Email</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">vpn_key</i>
          <input id="icon_telephone" type="password" class="validate">
          <label for="icon_telephone">Password</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Login</a>
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Sign Up</a>
  </div>
</div>
