<div class="container">
	<div class="row">
		<div col s8 offest-s2>
			<h3>Add a new board</h3>
			<div class="input-field col s12">
				<input id="title" type="text" name="title" placeholder="Your Title Here..." ng-model="newBoard.title">
				<label for="title">Board Title</label>
			</div>
			<div class="input-field col s6 offset-s3">
				<input id="description" type="textarea" name="description" placeholder="Your Description Here..." ng-model="newBoard.description">
				<label for="description">Board Description</label>
			</div>
			<div class="input-field col s6 offset-s3">
				<input id="tags" type="text" name="tags" placeholder="Your Tags Here (comma separated)" ng-model="newBoard.tags">
				<label for="tags">Board Tags</label>
			</div>
		</div>
	</div>
</div>