<div class="container center align">

  <div class="row">
    <div class="col s8 offset-s2">
      <h3>Search</h3>
    </div>
    <input type="text" class="col s6 offset-s3" ng-model="filterText" placeholder="Search">
    </div>
  </div>

  <div class="row cardFlex">
    <div class="col s3 card cardHeightSet center-align" ng-repeat="pin in selectedBoardPins | filter: filterText">
      <div class="card-content">
      <img class="imagePreview" src="{{pin.url}}" alt="Probably a Cat">
        <a><h3>{{pin.title}}</h3></a>
        <p>{{pin.description}}</p>
        <div class="tagList" ng-repeat="tag in pin.tags">
            <span>{{tag}}</span>
        </div>
        <a class="btn-floating btn-small waves-effect waves-light red" ng-click="deletePin(pin.refKey)"><i class="material-icons">delete</i></a>
      </div>
  </div>
  
  <a class="btn-floating btn-large waves-effect waves-light red addPinBtn" ng-href="#/boards/pins/new"><i class="material-icons">add</i></a>
</div>